/* This stylesheet complements bootstrap.css. It is loaded following
bootstrap.css, so if any attributes mofified here will overwrite
the same attributes in bootstrap.css */

/* general */
a {
    color: #0069d6;
}

/* navigation */
#logo {
    width: 180px;
    height: 30px;
    margin-top: 3px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#banner {
    color: #FFFFFF;
}

/* container */
.container {
    width: 1024px;
}

/* header */
#header {
    width: 40%;
    height: 160px;
    float: left;
}

/* aggregate information */
#swarm-overview {
    width: 57%;
    height: 160px;
    margin-left: 3%;
    float: right;
}

#swarm-info {
    margin-top: -8px;
    margin-bottom: 5px;
}

.span-one-third {
    width: 28%;
}

.swarm-info-head {
    font-size: 18px;
}

.swarm-info-content {
    font-size: 18px;
    color: gray;
}

#aggregate-head {
    margin-bottom: -10px;
    margin-top: -15px;
}

.aggregate-data {
    font-size: 14px;    
}

/* divider */
#divider {
    width: 100%;
    float: left;
}

/* controls */
#controls {
    width: 100%%;
    float: left;
}

/* list of resources */
#resources {
    width: 40%;
    float: left;
}

.bugstats-resource {
    width: 100%;
}

.disconnected h4 {
    color: #888888;
}

.disconnected h5 {
    color: #888888;
}

.dc-head {
    margin-top: -10px;
}

.span-smallstats {
    width: 16%;
}

.span-datetime {
    width: 30%;
}

.data {
    font-size: 12px;
}

.immediate {
    color: #0069d6;
}

.even {
    color: #303030;    
}

.odd {
    color: #909090;
}

/* map */
#map {
    width: 57%;
    margin-left: 3%;
    float: right;
}

#map-canvas {
    width: 100%;
    height: 500px;
    border: 1px solid #404040;
}
