body, html {
  background-color: #F8F8F8;
  /*color: #626262;*/
}

body {
  padding-top: 50px;
}

pre code {
  background: none;
}

#banner {
  color: #F1D32C;
  height: 23px;
  width: 170px;
}

#muc {
  width: 100%;
}

.masthead {
  padding-bottom: 15px;
  color: #FFFFFF;
  margin-top: -10px;
  margin-bottom: 10px;

  background-image: url('../images/bg.gif');
  background-repeat: repeat-x;
}

.masthead h1 {
  color: #FFFFFF;
  margin-top: 30px;
}

#tagline {
  font-size: 17px;
}

#cubes {
  margin-top: 10px;
}

.actions {
  background-color: #F1F1F1;
}

a {
  color: #09C;
}

.sub-header {
    color: #606060;
}

.container-fluid > .content {
    width: 940px;
    margin-left: 400px;
    margin-right: auto;
}

.app-image {
    border: 1px solid black;
}

.jump-bar {
    width: 220px;
    float: right;
}

.jump-header {
    color: #BFBFBF;
    font-size: 17px;
    width: 220px;
}

.jump-header-open {
    color: #FFFFFF;
}

.jump-menu {
    width: 220px;
    margin-left: -1px;;
}
