title BUGswarm Developers
link(rel='stylesheet', href='assets/bootstrap/bootstrap.css')
link(rel='stylesheet', href='assets/css/this.css')
link(rel='stylesheet', href='assets/js/google-code-prettify/prettify.css')
script(src='http://code.jquery.com/jquery-1.5.2.js')
script(src='assets/js/google-code-prettify/prettify.js')
script(src='assets/js/application.js')
script(src='assets/js/swarm-v1.0.0.beta.js', type='text/javascript')