title BUGswarm Developers
link(rel='stylesheet', href='bootstrap/bootstrap.css')
link(rel='stylesheet', href='css/this.css')
link(rel='stylesheet', href='js/google-code-prettify/prettify.css')
script(src='http://code.jquery.com/jquery-1.5.2.js')
script(src='js/google-code-prettify/prettify.js')
script(src='js/application.js')
script(src='js/swarm-v1.0.0.beta.js', type='text/javascript')
