.topbar
  .topbar-inner
    .container
      h3: a(href='index.html') BUGswarm Developers
      ul.nav
        li
          a(href='index.html') Home
        li
          a(href='product_summary.html') Product Summary
        li.dropdown.nav-dropdown
          a.dropdown-toggle(href='api_documentation.html') API Documentation
          ul.dropdown-menu
            li: a(href='configuration_api.html') Configuration
            li: a(href='participation_api.html') Participation
        li
          a(href='tools.html') Tools
        li
          a(href='libraries.html') Libraries
        li
          a(href='tutorial.html') Tutorial
        li
          a(href='sample_applications.html') Sample Applications

    
        