.topbar
  .topbar-inner
    .container
      h3: a(href='http://developer.bugswarm.net') BUGswarm Developers
      ul.nav
        li
          a(href='http://developer.bugswarm.net') Home
        li
          a(href='product_summary.html') Product Summary
        li.dropdown.nav-dropdown(data-dropdown="dropdown")
          a.dropdown-toggle(href='documentation.html') Documentation
          ul.dropdown-menu
            li: a(href='restful_api.html') RESTful API
            li: a(href='streaming_api.html') Streaming API
        li
          a(href='tools.html') Tools
        li
          a(href='libraries.html') Libraries
        li
          a(href='tutorial.html') Tutorial
        li
          a(href='sample_applications.html') Sample Applications
        li
          a(href='http://buglabs.net') Bug Labs 
