.topbar
  .topbar-inner
    .container
      a.brand(href='http://developer.bugswarm.net') BUGswarm Developers
      ul.nav
        li
          a(href='http://developer.bugswarm.net') Home
        li.dropdown
          a.dropdown-toggle(href='documentation.html') Documentation
          ul.dropdown-menu
            li: a(href='rest_api.html') REST API
            li: a(href='streaming_api.html') Streaming API
