!!! 5
html(lang='en')
  head
    include includes/assets

  body

    // NAVIGATION
    include includes/navigation

    // CONTAINER
    .container
      .page-header
        a(href='index.html') Home
        |  &rarr; 
        | Applications

      // Header
      h1 Applications

      p 
        | Below are some of the applications people have built using BUGswarm. If you've created something you feel is worthy of display, 
        a(href='mailto:list@buglabs.net') share it with us!

      // BUGstats
      h2: a(href="https://gist.github.com/6f3593466869402988a4") BUGstats
      .row
        .span3.columns
          a(href="bugstats.html")
            img.app-image(src='images/bugstats.png', height='100')

        .span13.columns
          p
            | An application for monitoring hardware statistics on your BUG. Makes use of BUGswarm's 
            a(href='https://github.com/buglabs/bugswarm-api/tree/master/javascript') JavaScript library
            |  and Python.

      .page-header

      // HNTR
      h2: a(href='https://gist.github.com/1265034') HNTR
      .row
        .span3.columns
          a(href='https://gist.github.com/1265034')
            img.app-image(src='images/hntr.jpg',  height='100')

        .span13.columns
          p 
            | A shared shopping list for the oncoming winter. Makes use of BUGswarm's 
            a(href='https://github.com/buglabs/bugswarm-api/tree/master/javascript') JavaScript library
            | .

      .page-header