!!! 5
html(lang='en')
  head
    include includes/assets

  body

    // NAVIGATION
    include includes/navigation

    // CONTAINER
    .container


        // Path
        .page-header
          a(href='index.html') Home
          |  &rarr; 
          a(href='documentation.html') Documentation
          |  &rarr; 
          | Configuration API

        // Header
        h1 Configuration API
        p
          | Configure swarms and their resources through the use of our RESTful API. Manage the social aspect of swarm
          | by sending and responding to invitations. Be sure to check out the
          a(href='tools.html') Tools
          |  page for quick and easy ways to get started, including 
          a(href='http://github.com/bugswarm-tools') BUGswarm Tools
          | , a simple set of python scripts that wraps up both the Configuration and Participation APIs.

        // API Keys
        h3: a#api-keys(href='restful_api_keys.html') API Keys
        p
          | Used as credentials and passed as headers when making HTTP requests.
        .row
          .span6.columns
            h5 Method
          .span6.columns
            h5 Description
        .page-header

        // create
        .row
          .span6.columns
            a(href='restful_api_keys.html#create') Create (POST)
          .span10.columns
            p
              | Create your participation key, configuration key, or both at once.
        .page-header

        // list
        .row
          .span6.columns
            a(href='restful_api_keys.html#list') List (GET)
          .span10.columns
            p
              | Retrieve both of your API keys or just one based on type.
        .page-header

        // Resources
        h3: a#resources(href='restful_resources.html') Resources
        p
          | Used to produce and consume data in the swarms they are members of.
        .row
          .span6.columns
            h5 Method
          .span6.columns
            h5 Description
        .page-header

        // create
        .row
          .span6.columns
            a(href='restful_resources.html#create') Create (POST)
          .span10.columns
            p
              | Create a resource. POST a JSON file containing information about the resource to be
              | created.
        .page-header

        // update
        .row
          .span6.columns
            a(href='restful_resources.html#update') Update (PUT)
          .span10.columns
            p
              | Update an already existing resource. PUT a JSON file containing the information
              | to update.
        .page-header

        // destroy
        .row
          .span6.columns
            a(href='restful_resources.html#destroy') Destroy (DELETE)
          .span10.columns
            p
              | Destroy a resource. Remove a resource from your user account.
        .page-header

        // list
        .row
          .span6.columns
            a(href='restful_resources.html#list') List (GET)
          .span10.columns
            p
              | List all of the resources in your user account.
        .page-header

        // get info
        .row
          .span6.columns
            a(href='restful_resources.html#get-info') Get Info (GET)
          .span10.columns
            p
              | Get a given resource's information.
        .page-header

        // list swarms
        .row
          .span6.columns
            a(href='restful_resources.html#list-swarms') List Swarms (GET)
          .span10.columns
            p
              | List the swarms that a given resource is a member of.
        .page-header

        // Swarms
        h3: a#swarms(href='restful_swarms.html') Swarms
        p
          | Used to group together resources and allow them to share data with each other.
        .row
          .span6.columns
            h5 Method
          .span6.columns
            h5 Description
        .page-header

        // create
        .row
          .span6.columns
            a(href='restful_swarms.html#create') Create (POST)
          .span10.columns
            p
              | Create a swarm. POST a JSON file containing information about the swarm to be
              | created.
        .page-header

        // update
        .row
          .span6.columns
            a(href='restful_swarms.html#update') Update (PUT)
          .span10.columns
            p
              | Update an already existing swarm. PUT a JSON file containing the information to
              | update.
        .page-header

        // destroy
        .row
          .span6.columns
            a(href='restful_swarms.html#destroy') Destroy (DELETE)
          .span10.columns
            p
              | Destroy a swarm. Remove a swarm from your user account.
        .page-header

        // list
        .row
          .span6.columns
            a(href='restful_swarms.html#list') List (GET)
          .span10.columns
            p
              | List all of the swarms in your user account.
        .page-header

        // get info
        .row
          .span6.columns
            a(href='restful_swarms.html#get-info') Get Info (GET)
          .span10.columns
            p
              | Get a given swarm's information, including it's member resources.
        .page-header

        // add resource
        .row
          .span6.columns
            a(href='restful_swarms.html#add-resource') Add Resource (POST)
          .span10.columns
            p
              | Add a resource to a swarm. POST a JSON file containing the swarm-relevant information 
              | regarding the resource to be added.
        .page-header

        // remove resource
        .row
          .span6.columns
            a(href='restful_swarms.html#remove-resource') Remove Resource (DELETE)
          .span10.columns
            p
              | Remove a resource from a swarm. POST a JSON file containing swarm-relevant information
              | regarding the resource to remove.
        .page-header

        // list resources
        .row
          .span6.columns
            a(href='restful_swarms.html#list-resources') List Resources (GET)
          .span10.columns
            p
              | List a given swarm's member resources. Users may choose to list only producing resources,
              | only consuming resourcs, or all resources at once.
        .page-header

        // Invitations
        h3: a#invitations(href='restful_invitations.html') Invitations
        p
          | Expose BUGswarm's unique social presence by inviting another user's resources to join your swarms
          | and share in the production and consumption of data. Accept invitations from other users to join
          | their swarms as well.
        .row
          .span6.columns
            h5 Method
          .span6.columns
            h5 Description
        .page-header

        // send
        .row
          .span6.columns
            a(href='restful_invitations.html#send') Send (POST)
          .span10.columns
            p
              | Send an invitation to another user's resource to join your swarm.
        .page-header

        // respond
        .row
          .span6.columns
            a(href='restful_invitations.html#respond') Respond (PUT)
          .span10.columns
            p
              | Respond to received invitations by either accepting or rejecting them.
        .page-header

        // list sent
        .row
          .span6.columns
            a(href='restful_invitations.html#list-sent') List Sent (GET)
          .span10.columns
            p
              | List all the invitations sent from your user account for resources to join a given swarm.
        .page-header

        // list received
        .row
          .span6.columns
            a(href='restful_invitations.html#list-received') List Received (GET)
          .span10.columns
            p
              | List the invitations received by your user account from other users. List all invitations or only those
              | sent to specific resources.
        .page-header