!!! 5
html(lang='en')
  head
    include includes/assets

  body
    include includes/navigation

    // CONTAINER
    .container

      // Path
      .page-header
        a(href='index.html') Home

      // Header
      h1 Contact

      .row
        .span-one-third
          h2: a(href='irc://irc.freenode.net/bugswarm') Chat
          p
            | Feel free to drop in the 
            a(href='irc://irc.freenode.net/bugswarm') #bugswarm
            |  IRC channel on
            a(href='irc.freenode.net') Freenode
            |  to chat with the BUGswarm development team.
        .span-one-third
          h2: a(href='http://twitter.com/bugswarm') Twitter
          p
            | Tweet
            a(href='http://twitter.com/bugswarm') @bugswarm
            |  and let us know what you're thinking.
        .span-one-third
          h2: a(href='http://community.buglabs.net/blog') Blog
          p
            | Read up on what's new with BUGswarm by visiting our 
            a(href='http://community.buglabs.net/blog') blog
            |.

      .page-header

      .row
        .span-one-third
          h2: a(href='http://developer.bugswarm.net') Mailing List
          p 
            | Visit the 
            a(href='http://developer.bugswarm.net') home page
            | . of this portal and sign up for our mailing list
            | at the bottom of the page to receive infrequent updates
            | and important announcements regarding BUGswarm.
        .span-one-third
          h2: a(href='http://github.com/buglabs') GitHub
          p
            | Find us at the 
            a(href='http://github.com/buglabs') Bug Labs github page
            |  to check out BUGswarm-related projects and contribute.
        .span-one-third
          h2: a(href='http://github.com/buglabs/bugswarm-api/issues') Report Bugs
          p
            | Found a bug in BUGswarm? Help us out and submit an issue 
            a(href='http://github.com/buglabs/bugswarm-api/issues') here
            | .

