!!! 5
html(lang='en')
  head
    include includes/assets

  body
    include includes/navigation

    .container
      .page-header
        a(href='index.html') Home
        |  &rarr;
        | Contact

      :markdown
        For real-time communications, join [#bugswarm](irc://irc.freenode.net/bugswarm) on [irc.freenode.net](irc.freenode.net) or tweet [@bugswarm](http://twitter.com/bugswarm).
        For contributing code or bug reporting, see [bugswarm-api](http://github.com/buglabs/bugswarm-api) on [our github](http://github.com/buglabs).

        For important, infrequent announcements, [join our mailing list](http://developer.bugswarm.net) (at the bottom of the page).

        To keep up with more frequent goings-on, check out the [bugswarm blog](http://community.buglabs.net/blog).
