!!! 5
html(lang='en')
  head
    include includes/assets

  body

    // NAVIGATION
    include includes/navigation

    // CONTENT
    .container

      // Path
      .page-header
        a(href='index.html') Home
        |  &rarr;
        |  Documentation

      // Header
      h1 Documentation
      
      .page-header

        h2 API
        p
          | The BUGswarm API can be broken down into two primary actions, configuration and participation.
          | Configuration includes the creation, updating, and destruction of swarms and their resources 
          | in addition to inviting other users' resources into your swarms and accepting or rejecting pending invitations.
          | Participation includes producing and consuming data within one or many swarms. 

        // Descriptions
        .row
          .span8
            h3
              a(href='configuration_api.html') Configuration
              small
                |  Establish swarms, resources, and invitations
            p
              | BUGswarm uses a RESTful (Representational State Transfer) API to configure swarms
              | and their resources. Use it to create and destroy swarms and resources, add and remove resources to and from swarms,
              | and generate API keys. In addition to these
              | methods, the Configuration API also takes care of the social aspect of BUGswarm, sending invitations to other users' 
              | resources to join your swarms as well as accepting and rejecting pending invitations.
              | To make development easier, the Configuration API has been wrapped up in 
              a(href='http://github.com/buglabs/bugswarm-tools') BUGswarm Tools
              | , a set of python scripts used to make the development process simple and easy.
          .span8
            h3
              a(href='participation_api.html') Participation
              small
                |  Produce and consume data
            p
              | BUGswarm makes use of an HTTP streaming API to allow resources to connect to and participate in the swarms they are members of.
              | Because the Participation API uses streaming, after connecting a resource to a swarm, 
              | the connection remains open while bidirectional HTTP requests are processed.
              | To make development easier, the Participation API has also been wrapped up in 
              a(href='http://github.com/buglabs/bugswarm-tools') BUGswarm Tools
              |  . Use the `consume.py` and `produce.py` scripts for use the Participation API from the command line.
   
        .page-header

        // Tools and Libraries
        h2 Tools and Libraries
        p
          | In order to make the BUGswarm development process as easy and friendly as possible, we have developed a set
          | of tools and libraries to help you get started even faster. Visit the 
          a(href='tools.html') Tools
          |  and 
          a(href='libraries.html') Libraries
          |  pages to learn more.