!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title BUGswarm API, from Bug Labs
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/this.css')
    link(rel='stylesheet', type='text/css', href='assets/js/google-code-prettify/prettify.css')
    script(src='http://code.jquery.com/jquery-1.5.2.js')
    script(src='assets/js/google-code-prettify/prettify.js')
    script(src='assets/js/application.js')
  body
    .topbar
      .topbar-inner
        .container
          a.brand(href='#') BUGswarm Developers
          ul.nav
            li.active
              a(href='#') Home
            li.dropdown
              a.dropdown-toggle(href='documentation.html') Documentation
              ul.dropdown-menu
                li
                  a(href='rest_api.html') REST API
                li
                  a(href='streaming_api.html') Streaming API
    header#overview.jumbotron.masthead
      .inner
        .container
          h1 Welcome to BUGswarm
          p.lead
            | BUGswarm teaches devices how to speak the language you know. Organize both
            | hardware and software in swarms, and listen in on the conversation.
            | It includes javascript and
            a(href='http://buglabs.net') BUGbase
            |  libraries to get up and running as quickly as possible.
            br
    .container
      section#about
        .page-header
          h1
            | About BUGswarm
            small Features, introduction and support
        .row
          .span-one-third
            h3 Presence
            p
              | Our messaging platform is one of the few that support real-time presence
              | notifications that work much like a chat room.
          .span-one-third
            h3 Standards
            p
              | We expose a RESTful web service that supports real-time communications and
              | streaming.
          .span-one-third
            h3 What's included
            p
              | Native libraries exist for javascript and the BUG series of hardware, with
              | planned support for arduino, android, and whatever else the community challenges
              | us to come up with.
      h1
        | Developer Preview
        small Signup for October 11
      p
        | Sign up for our developer preview to help provide feedback and turn BUGswarm into
        | the platform you love to use.
      // CONTENT
      .container
        form#mc-embedded-subscribe-form.validate(action='http://bugswarm.us2.list-manage.com/subscribe/post?u=876a1af227de66fbb5520a055&id=5e569d1e96', method='post', name='mc-embedded-subscribe-form')
          fieldset
            .clearfix
              label(for='mce-EMAIL')
                strong Email
              .input
                input#mce-EMAIL.xlarge.email(type='email', value='', name='EMAIL', placeholder='email address', size='30', required='required')
              .actions
                input#mc-embedded-subscribe.btn.primary(type='submit', value='Sign Up!')
