!!! 5
html(lang='en')
  head
    include includes/assets
  body
    include includes/navigation
    header#overview.jumbotron.masthead
      .inner
        .container
          h1 Welcome to BUGswarm
          p.lead
            | BUGswarm teaches devices how to speak the language you know. Organize both
            | hardware and software in swarms, and listen in on the conversation.
            | It includes javascript and
            a(href='http://buglabs.net') BUGbase
            |  libraries to get up and running as quickly as possible.
            br
    .container
      section#about
        .page-header
          h1
            | About BUGswarm
            small Features, introduction and support
        .row
          .span-one-third
            h3 Presence
            p
              | Our messaging platform is one of the few that support real-time presence
              | notifications that work much like a chat room.
          .span-one-third
            h3 Standards
            p
              | We expose a RESTful web service that supports real-time communications and
              | streaming.
          .span-one-third
            h3 What's included
            p
              | Native libraries exist for javascript and the BUG series of hardware, with
              | planned support for arduino, android, and whatever else the community challenges
              | us to come up with.
      h1
        | Developer Preview
        small Signup for October 11
      p
        | Sign up for our developer preview to help provide feedback and turn BUGswarm into
        | the platform you love to use.
      .container
        form#mc-embedded-subscribe-form.validate(action='http://bugswarm.us2.list-manage.com/subscribe/post?u=876a1af227de66fbb5520a055&id=5e569d1e96', method='post', name='mc-embedded-subscribe-form')
          fieldset
            .clearfix
              label(for='mce-EMAIL')
                strong Email
              .input
                input#mce-EMAIL.xlarge.email(type='email', value='', name='EMAIL', placeholder='email address', size='30', required='required')
              .actions
                input#mc-embedded-subscribe.btn.primary(type='submit', value='Sign Up!')
