!!! 5
html(lang='en')
  head
    include includes/assets

  body

    // NAVIGATION
    include includes/navigation

    // MASTHEAD
    .masthead
      .container

        .row
          .span10.columns
            h1 Welcome to BUGswarm
            p#tagline
              | Acquire data from and control embedded devices using JavaScript or plain old HTTP.
          .span6.columns
            img#cubes(src="images/bs_cubes.png", alt="")

    // CONTENT
    .container

      // Features
      h2
        | Features
        small Why BUGswarm?
      .row
        .span-one-third
          h3.sub-header Group Resources
          p
            | Combine multiple resources together to create a swarm.
            | Once a member of a swarm, a resource can communicate and share data with other resources in that swarm.
        .span-one-third
          h3.sub-header Control Access
          p
            | Control the level of access a resource has to a swarm.
            | Grant a resource permission to produce data, consume data, or do both.
        .span-one-third
          h3.sub-header Share With Others
          p
            | Invite another user's resources into your swarms and accept invitations to place your resources
            | in somebody else's swarms. Share your data easily and securely.

      .page-header

      // Platform
      h2
        | Platform
        small Swarms of resources
      .row
        .span8
          h3.sub-header Resources
          p
            | A resource is an application or device that is configured to produce or
            | consume data over BUGswarm. A resource may be a physical device, such as a
            | smartphone, BUG, or Arduino, as well as a web or mobile application. Anything than 
            | can communicate through HTTP can be configured to join a swarm and being producing and 
            | consuming data.
        .span8
          h3.sub-header Swarms
          p
            | A swarm is a collection of resources. Once a swarm is created, users may configure it
            | to allow their own resources to participate as well as invite another user's resources to become members.
            | The owner of the swarm may control what level of access (production, consumption, or both) each resource in the swarm has.

      .page-header

      // Getting Started
      h2
        | Getting Started
        small Quick and simple
      .row
        .span-one-third
          h3.sub-header 1. Sign Up
          p
            | Sign up below for the developer preview to create a Bug Labs account. Then, use the 
            a(href="api_key_management.html") API Key Management Tool
            |  to list your given API keys or create new ones. 
        .span-one-third
          h3.sub-header 2. Create Resources and Swarms
          p
            | Use the RESTful
            a(href="configuration_api.html") Configuration API
            |  to create resources and swarms. Add resources to swarms
            | as producers, consumers, or both.
        .span-one-third
          h3.sub-header 3. Produce and Consume Data
          p
            | Use the 
            a(href="participation_api.html") Participation API
            |  to connect resources to the swarms they are members of
            | and begin producing and consuming data.

      .page-header

      // Developer Preview
      h2 
        | Developer Preview
        small Happening now!
      p
        | Participate in the BUGswarm developer preview (happening right now!) to receive free access for a limited time to our services.
        | Doing so will allow you to use BUGswarm to its fullest potential. Sign up below and see all that BUGswarm has to offer.

      form#mc-embedded-subscribe-form.validate.actions(action='http://bugswarm.us2.list-manage.com/subscribe/post?u=876a1af227de66fbb5520a055&id=5e569d1e96', method='post', name='mc-embedded-subscribe-form')
        fieldset
          .clearfix
            label(for='mce-EMAIL')
              strong Email
            .input
              input.xlarge.email#mce-EMAIL(type='email', name='EMAIL', placeholder='email address', required='required')          
          .clearfix
            .input
              input.btn.danger#mc-embedded-subscribe(type='submit', value='Sign Me Up!')
