!!! 5
html(lang='en')
  head
    include includes/assets

  body

    // NAVIGATION
    include includes/navigation

    // MASTHEAD
    .masthead
      .container

        .row
          .span10.columns
            h1 Welcome to BUGswarm
            p#tagline
              | BUGswarm is a way to acquire data from and control embedded devices using JavaScript or plain old HTTP.
          .span6.columns
            img#cubes(src="images/bs_cubes.png", alt="")

    // CONTENT
    .container

      // About
      .page-header
        h1
          | About BUGswarm
      .row
        .span-one-third
          h3 Create Groups
          p
            | Group resources together by adding them to swarms.
            | Once a resource is part of a swarm, it can communicate with other resources in that swarm.
        .span-one-third
          h3 Control Access
          p
            | Control the way resources access a swarm.
            | Grant a resource permission to produce data, consume data, or do both.
        .span-one-third
          h3 Share with Others
          p
            | Invite other users' resources into your swarms, and join their swarms.
            | If you create something useful, share it!

      .page-header

      // Developer Preview
      h2 
        | Developer Preview
        small Happening now!
      p
        | Participate in the BUGswarm developer preview (happening right now!) to receive free access for a limited time to our services.
        | Doing so will allow you to use BUGswarm to its fullest potential. Sign up below and see all that BUGswarm has to offer.

      form#mc-embedded-subscribe-form.validate.actions(action='http://bugswarm.us2.list-manage.com/subscribe/post?u=876a1af227de66fbb5520a055&id=5e569d1e96', method='post', name='mc-embedded-subscribe-form')
        fieldset
          .clearfix
            label(for='mce-EMAIL')
              strong Email
            .input
              input.xlarge.email#mce-EMAIL(type='email', name='EMAIL', placeholder='email address', required='required')          
          .clearfix
            .input
              input.btn.danger#mc-embedded-subscribe(type='submit', value='Sign Me Up!')
