!!! 5
html(lang='en')
  head
    include includes/assets

  body

    // NAVIGATION
    include includes/navigation

    // MASTHEAD
    .masthead
      .container
        h1 Welcome to BUGswarm
        p
          | A brand new M2M platform that gives your devices a voice on the internet. See what you can build with
          | real-time communication between computers.

    // CONTENT
    .container

      // About
      .page-header
        h1
          | About BUGswarm
      .row
        .span-one-third
          h3 Create Groups
          p
            | Group resources together by adding them to swarms.
            | Once a resource is part of a swarm, it can communicate with other resources in that swarm.
        .span-one-third
          h3 Control Access
          p
            | Restrict the way resources access a swarm, giving some permission to
            | produce and consume data while limiting others to only producing or consuming.
        .span-one-third
          h3 Share with Others
          p
            | Invite other users' resources into your swarms, and join their swarms.
            | If you create something useful, share it!
      // Developer Preview
      form#mc-embedded-subscribe-form.validate.actions(action='http://bugswarm.us2.list-manage.com/subscribe/post?u=876a1af227de66fbb5520a055&id=5e569d1e96', method='post', name='mc-embedded-subscribe-form')
        fieldset
          legend
            h2 
              | Developer Preview
              small October 11
          .clearfix
            label(for='mce-EMAIL')
              strong Email
            .input
              input#mce-EMAIL.xlarge.email(type='email', value='', name='EMAIL', placeholder='email address', size='30', required='required')
              br
              br
              input#mc-embedded-subscribe.btn.primary(type='submit', value='Sign Up!')
