!!! 5
html(lang='en')
  head
    include includes/assets
  
  body
    
    // NAVIGATION
    include includes/navigation
    
    // CONTENT
    .container
      
      // Path
      .page-header
        a(href='index.html') Home

      // Header
      h1 Libraries
      p
        | BUGswarm comes with a set of language-specific libraries built as wrappers around our
        a(href='participation_api.html') Participation API 
        | , placing the decision of how to produce and consume data in the developer's hands.

      .page-header

      h2 
        a(href='https://github.com/buglabs/bugswarm-api/tree/master/javascript') Javascript
      p
        | Easily configure your web application to produce and consume data over BUGswarm.

      .page-header
      