!!! 5
html(lang='en')
  head
    include includes/assets


  body

    // NAVIGATION
    include includes/navigation

    // CONTAINER
    .container-fluid

      // SIDEBAR
      .sidebar

        strong Jump to:
        ul.unstyled

      // CONTENT
      .content

        // Path
        .page-header
          a(href='index.html') Home
          |  &rarr;
          a(href='api_documentation.html') API Documentation

        // Header
        h1 Participation
        p
          | Documentation coming soon.
