!!! 5
html(lang='en')
  head
    include includes/assets


  body

    // NAVIGATION
    include includes/navigation

    // CONTAINER
    .container

        // Path
        .page-header
          a(href='index.html') Home
          |  &rarr;
          a(href='documentation.html') Documentation
          |  &rarr; 
          | Participation API

        // Header
        h1 Participation API
        p
          | The Participation API is used to connect resources to the swarms they are a member of. 
          | Once connected, resources may produce data, consume data, or do both, depending on their level of access to the swarm. 
          | Throughout this process, the BUGswarm platform generates presence notifications and error messages when necessary in addition to passing
          | along the messages being produced in the swarm. The Participation API makes use of HTTP streaming, meaning that once a connection has been opened,
          | bidirectional communication between the resource and the swarm may continue until the connection is closed.

        br

        .page-header
          h2#opening-a-connection Opening a Connection
        
        ul
        li
          h3 Production
        p
          | To open a connection between a resource and a swarm for the purpose of producing data,
          | send an HTTP 
          strong POST 
          |  request to the following URL with the following headers.
        h5.sub-header URL:
        pre.prettyprint.language-javascript
          'http://api.bugswarm.net/stream?swarm_id=SWARM_ID&resource_id=RESOURCE_ID'
        p
          | Replace 
          code SWARM_ID
          |  and 
          code RESOURCE_ID
          |   with the id of the swarm you would like to connect to and the resource you would
          | like to connect with. Additionally, you may connect the resource to multiple swarms at once by appending multiple 
          code &swarm_id=SWARM_ID
          |  statements to the single 
          code swarm_id=SWARM_ID
          |  that is given above. Keep in mind that a resource must be 
          | added to the swarm using the Configuration API's  
          a(href="restful_swarms.html#add-resource") Add Resource
          |  method for swarms before it may connect to the swarm and being producing.
        h5.sub-header Headers:
        ul.unstyled
          li
            strong x-bugswarmapikey: 
            | PARTICIPATION_KEY
          li
            strong transfer-encoding: 
            | chunked
        p
          strong Note 
          | that a first message must be sent in order for the connection to open. 
          | This can easily be done by sending an empty new line message in the format described below.
          | For instance, as long as you follow the explained chunked coding format,  
          code {"message": {"to": [SWARM_ID], "payload":}}
          |  is a valid message to send that will allow the resource to successfully connect. Of course, messages containing
          | information in the payload are also valid ways of opening connections.
                
        .page-header
        
        li
          h3 Consumption
        p
          | To open a connection between a resource and a swarm for the purpose of consuming data,
          | send an HTTP 
          strong GET 
          |  request to the following URL
        h5.sub-header URL:
        pre.prettyprint.language-javascript
          'http://api.bugswarm.net/stream?swarm_id=SWARM_ID&resource_id=RESOURCE_ID'
        p
          | Replace 
          code SWARM_ID
          |  and 
          code RESOURCE_ID
          |   with the id of the swarm you would like to connect to and the resource you would
          | like to connect with. Additionally, you may connect the resource to multiple swarms at once by appending multiple 
          code &swarm_id=SWARM_ID
          |  statements to the single 
          code swarm_id=SWARM_ID
          |  that is given above. Keep in mind that a resource must be 
          | added to the swarm using the Configuration API's  
          a(href="restful_swarms.html#add-resource") Add Resource
          |  method for swarms before it may connect to the swarm and being producing.
        h5.sub-header Headers:
        ul.unstyled
          li
            strong x-bugswarmapikey: 
            | PARTICIPATION_KEY

        .page-header

        br
        br

        .page-header
          h2#sending-messages Sending Messages
        p
          | Once a connection has has been successfully opened for production, you may freely send
          | messages from your connected resource to the swarm. However, messages must be sent with chunked encoding as JSON objects
          | in the following formats.
        
        li
          h4.sub-header Chunked Encoding
        p
          | Chunked encoding consists of sending a hexadecimal representation of the message's size followed
          | by the message itself, appending the characters "\\r\\n" to the end of each. More information about chunked
          | encoding can be found in section 3.6.1 of 
          a(href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html") this page
          |  as well as 
          a(href="http://en.wikipedia.org/wiki/Chunked_transfer_encoding#Format") Wikipedia
          | .

        li
          h4.sub-header Formats

        strong Public message to all swarms the resource is connected to:
        br
        br
        pre.prettyprint.language-javascript
          {"message": {"payload": {"x":1}}}

        strong Public message to specific swarm(s):
        br
        br
        pre.prettyprint.language-javascript
          {"message": {"to": ["234", "123"], "payload": {"x":1}}}

        strong Private message to specific resource in specific swarm:
        br
        br
        pre.prettyprint.language-javascript
          {"message": {"to": [{"swarm": "234", "resource": "222"}], "payload": {"y":2}}}

        p
          strong Note
          |  that, within the message, the 
          strong payload
          |  itself must also be a 
          strong JSON object or JSON array
          |  .

        .page-header

        br
        br

        .page-header
          h2#receiving-messages Receiving Messages
        p
          | Messages will be received in the following formats depending on whether they are public or private.
        br
        strong Public message received from resource 123 as observed by all resources connected to the swarm.
        br
        br
        pre.prettyprint.language-javascript
          {"message": {"from": {"swarm": "234", "resource":"123"}, "public": true, "payload": {"x": 1}}}

        strong Private mesage recieved from resource 123 as observed by the receiving resource.
        br
        br
        pre.prettyprint.language-javascript
          {"message": {"from": {"swarm": "234", resource: "123"}, "public": false, "payload": {"y": 2}}}
       
        .page-header
        br
        br
 
        .page-header
          h2#presence-and-errors Presence and Errors
        .row
          .span8.columns
            h3 Presence Notifications          
            li
              h5.sub-header Swarm Presence
            p
              | When a resource connects to a swarm, a swarm presence notification is sent to each
              | of the resources currently connected to that swarm. Additionally, the connecting resource
              | receives swarm presence notifications from those resources that are currently connected. 
              | When a resource disconnects from a swarm, a swarm presence notification of type "unavailable" is
              | sent to each of the currently connected resources.
            li
              h5.sub-header Direct Presence
            p
              | When a resource connects to its first swarm, a direct presence notification is sent to each resource under that
              | user account that is also connected to a swarm. Additionally, the connecting resource
              | receives direct presence notifications from all other resources under the same user account that are already
              | connected to at least one swarm. When a resource disconnects from it's last swarm, a direct presence notification of
              | type "unavailable" is sent to each of the resources under the same user account that are connected to at leaset one swarm. 
          .span8.columns     
            h3 Errors
            p
              | Errors are sent to a resource when something has gone wrong.
              | This usually means that a resource has attempted to use the
              | API to do something that is not permited, such as producing to a swarm
              | when it is only connected as a consumer or attempting to connect to a swarm that it
              | is not a member of. Errors contain a list of HTTP codes and
              | descriptions for each error that occured during the attempted
              | operation. Some operations my cause more than one error, so the list
              | may have more than one element.
              
        .page-header

        h3 Formats
      
        h4.sub-header Presence Notifications
        .row
          ul  
          .span8.columns
            li: h5 Sender

            | To join swarms 234 and 333:
            br
            br
            pre.prettyprint.language-javascript
              {"presence": {"to": ["234", "333"]}}

            | To leave swarms 234 and 333:
            br
            br
            pre.prettyprint.language-javascript
              {"presence": {"to": ["234", "333"], type: "unavailable"}}
          .span8.columns
            li: h5 Recipient

            | When resource 222 has joined swarm 234:
            br
            br
            pre.prettyprint.language-javascript
              {"presence": {"from": {"swarm": "234", "resource": "222", "user": "c4milo"}}
  
            | When resource 222 has left swarm 234:
            br
            br
            pre.prettyprint.language-javascript
              {"presence": {"from": {"swarm": "234", "resource": "222", "user": "c4milo"}, "type": "unavailable"}

            | When a resource that is owned by the same user connects to BUGswarm:
            br
            br
            pre.prettyprint.language-javascript
              {"presence": {"from": {"resource": "222"}}}

            | When a resource that is owned by the same user disconnects from BUGswarm:
            br
            br
            pre.prettyprint.language-javascript
              {"presence": {"from": {"resource": "222"} "type": "unavailable"}}

        .page-header  

        h4.sub-header Errors

        ul
          li: h5 Recipient

        | When an error occurs:
        br
        br
        pre.prettyprint.language-javascript
          {"errors": [{"code": "xxx", description: "foo"}, {"code": "yyy", "description": "bar"}]}