!!! 5
html(lang='en')
  head
    include includes/assets
  
  body
    
    // NAVIGATION
    include includes/navigation
    
    // CONTENT
    .container
      
      // Path
      .page-header
        a(href='index.html') Home

      // Header
      h1 Product Summary
      p
        | Coming soon.

