!!! 5
html(lang='en')
  head
    include includes/assets
  body
    include includes/navigation
    .container-fluid
      // SIDEBAR 
      .sidebar
        ul
          li
            h5
              a(href='#create') Create
          li
            h5
              a(href='#update') Update
          li
            h5
              a(href='#destroy') Destroy
          li
            h5
              a(href='#list') List
          li
            h5
              a(href='#get-resource-info') Get Resource Info
          li
            h5
              a(href='#list-swarms-with-resource') List Swarms With Resources
      // end of sidebar div 
      // CONTENT 
      .content
        .page-header
          a(href='index.html') Home
          | &rarr;
          a(href='documentation.html') Documentation
          | &rarr;
          a(href='rest_api.html') REST API
        h1 User Resources
        p
          | Manage your resources with the REST API.
        .page-header
        // Create 
        h3#create Create
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL:
                code http://api.bugswarm.net/resources
                li
                  strong Method:
                  | POST
                li
                  strong Headers:
                  br
                  code
                    | "x-bugswarmapikey: API KEY",
                    br
                    | "content-type: application/json"
                  li
                    strong Parameters (Required):
                    | None
                  li
                    strong Parameters (Optional):
                    | None
          .span8.columns
            p
              | Resources belong to users and may be created using this method. In order for a
              | user's resource to participate in a swarm, however, the user must
              | first
              a(href='rest_swarm_resources.html#add') add
              | that resource to the swarm. Creating a resource involves passing a JSON file
              | containing the
              | configuration of the resource as a header.
        strong Body:
        | The "id", "name", and "machine_type" fields are
        strong required
        | . The "description" and "position" fields are
        strong optional
        | .
        pre.prettyprint.language-javascript.
          \n{
              "id": "my unique resource id",
              "name": "My resource",
              "machine_type": "pc",
              "description": "My Resource description",
              "position": {
                              "longitude": 0,
                              "latitude": 0
                          }
          }
                    
        strong Usage:
        | Create a JSON file with the name
        code create_resource.json
        | and matching the above format. Then execute:
        pre.prettyprint.language-javascript.
          \ncurl -X POST -d@create_resource.json --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" --header "content-type: application/json" http://api.bugswarm.net/resources          
        strong Returns:
        a(href='http_response_codes.html') HTTP Response Codes
        br
        br
        .page-header
        // Update 
        h3#update Update
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL:
                code http://api.bugswarm.net/resources/RESOURCE_ID
                li
                  strong Method:
                  | PUT
                li
                  strong Headers:
                  br
                  code
                    | "x-bugswarmapikey: API KEY",
                    br
                    | "content-type: application/json"
                  li
                    strong Parameters (Required):
                    | None
                  li
                    strong Parameters (Optional):
                    | None
          .span8.columns
            p
              | Resources belonging to a given user can have some of their information updated
              | after creation. Updating a resource involves
              | passing a JSON file containing the fields that the user wishes to update.
        strong Body:
        | All fields are
        strong optional
        | .
        pre.prettyprint.language-javascript.
          \n{
              "name": "My Resource Updated",
              "machine_type": "bug",
              "description": "My Resource description updated",
              "position": {
                              "longitude": 1,
                              "latitude": 1
                          }
          }
                    
        strong Usage:
        | Create a JSON file with the name
        code update_resource.json
        | and matching the above format. Then execute:
        pre.prettyprint.language-javascript.
          \ncurl -X PUT -d@update_resource.json --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" --header "content-type: application/json" http://api.bugswarm.net/resources/RESOURCE_ID          
        strong Returns:
        a(href='http_response_codes.html') HTTP Response Codes
        br
        br
        .page-header
        // Destroy 
        h3#destroy Destroy
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL:
                code http://api.bugswarm.net/resources/RESOURCE_ID
                li
                  strong Method:
                  | DELETE
                li
                  strong Headers:
                  br
                  code "x-bugswarmapikey: API KEY"
                  li
                    strong Parameters (Required):
                    | None
                  li
                    strong Parameters (Optional):
                    | None
          .span8.columns
            p
              | Destroy a resource. Destroying a resource removes it completely from the user
              | account and any swarms of which it is a member.
              | The method uses the unique resource id specified in the URL to determine which
              | resource to destroy.
        strong Usage:
        pre.prettyprint.language-javascript.
          \ncurl -X DELETE --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/resources/RESOURCE_ID          
        strong Returns:
        a(href='http_response_codes.html') HTTP Response Codes
        br
        br
        .page-header
        // List 
        h3#list List
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL:
                code http://api.bugswarm.net/resources
                li
                  strong Method:
                  | GET
                li
                  strong Headers:
                  br
                  code "x-bugswarmapikey: API KEY"
                  li
                    strong Parameters (Required):
                    | None
                  li
                    strong Parameters (Optional):
                    | Resource type
          .span8.columns
            p
              | List all of the resources owned by the user. When listing resources, users have
              | the option of specifying whether they would like to
              | list all resources, only producers, or only consumers. The option can be passed
              | into the url as seen below.
        strong Usage:
        pre.prettyprint.language-javascript.
          \ncurl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/resources
          
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/resources?type=producer
          
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/resources?type=consumer
                    
        strong Returns:
        | A list of resources in JSON format.
        pre.prettyprint.language-javascript.
          \n[
              {
                  "_id": "4e612e4e8371a27b5a0031bd",
                  "created_at": "2011-09-02T19:28:14.644Z",
                  "description": "My Resource description",
                  "id": "My Resource id",
                  "machine_type": "pc",
                  "modified_at": "2011-09-12T00:17:29.254Z",
                  "name": "My Resource",
                  "user_id": "username"
              },
              {
                  "_id": "4e626c1d0c693fe05b011ef7",
                  "created_at": "2011-09-03T18:04:13.882Z",
                  "description": "My Other Resource description",
                  "id": "My Other Resource id",
                  "machine_type": "smartphone",
                  "modified_at": "2011-09-12T00:22:00.414Z",
                  "name": "My Other Resource",
                  "user_id": "username"
              },
          ]
                    
        .page-header
        // Get Resource Info 
        h3#get-resource-info Get Resource Info
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL:
                code http://api.bugswarm.net/resources/RESOURCE_ID
                li
                  strong Method:
                  | GET
                li
                  strong Headers:
                  br
                  code "x-bugswarmapikey: API KEY"
                  li
                    strong Parameters (Required):
                    | None
                  li
                    strong Parameters (Optional):
                    | None
          .span8.columns
            p
              | Resources in a user's account carry with them a small set of information that can
              | be retrieved upon request. This information
              | includes the resource's name, the date of resource creation, and several other
              | fields. This method returns this information in JSON
              | format.
        strong Usage:
        pre.prettyprint.language-javascript.
          \ncurl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/resources/RESOURCE_ID
                    
        strong Returns:
        | A resource in JSON format.
        pre.prettyprint.language-javascript.
          \n{
                  "_id": "4e626c1d0c693fe05b011ef7",
                  "created_at": "2011-09-03T18:04:13.882Z",
                  "description": "My Other Resource description",
                  "id": "My Other Resource id",
                  "machine_type": "smartphone",
                  "modified_at": "2011-09-12T00:22:00.414Z",
                  "name": "My Other Resource",
                  "user_id": "username"
              }
                    
        .page-header
        // List Swarms With Resource 
        h3#list-swarms-with-resource List Swarms With Resource
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL:
                code http://api.bugswarm.net/resources/RESOURCE_ID/swarms
                li
                  strong Method:
                  | GET
                li
                  strong Headers:
                  br
                  code "x-bugswarmapikey: API KEY"
                  li
                    strong Parameters (Required):
                    | None
                  li
                    strong Parameters (Optional):
                    | None
          .span8.columns
            p
              | Resources can be
              a(href='rest_swarm_resources.html#add') added
              | to one or many swarms. This method takes
              | a unique resource ID and lists all of the swarms of which that resource is a
              | member. A JSON representation of
              | the swarm(s) and their resources is printed.
        strong Usage:
        pre.prettyprint.language-javascript.
          \ncurl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/resources/RESOURCE_ID/swarms
                    
        strong Returns:
        | A list of swarms that the given resource is a member of in JSON format.
        pre.prettyprint.language-javascript.
          \n[
              {
                  "_id": "4e5bf3c4cc1fdb5970000028",
                  "created_at": "2011-08-29T20:17:08.676Z",
                  "description": "My Swarm description",
                  "id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                  "name": "My Swarm",
                  "public": true,
                  "resources": [
                      {
                          "_id": "4e5bf5c8cc1fdb597000005b",
                          "created_at": "2011-08-29T20:25:44.565Z",
                          "id": "My Resource id",
                          "swarm_id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                          "type": "producer",
                          "user_id": "username"
                      },
                      {
                          "_id": "4e5bf5c8cc1fdb597000005b",
                          "created_at": "2011-08-29T20:25:44.565Z",
                          "id": "My Other Resource id",
                          "swarm_id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                          "type": "consumer",
                          "user_id": "username"
                      }
                  ],
                  "user_id": "username"
              }
          ]
                    
        .page-header
      // end of content div 
    // end of container-fluid div 
