!!! 5
html(lang='en')
  head
    include includes/assets

  body

    // NAVIGATION
    include includes/navigation

    // CONTAINER
    .container-fluid

      // SIDEBAR
      .sidebar

        strong Jump to:
        ul.unstyled
          li: h5: a(href='#create') Create
          li: h5: a(href='#list') List

      // CONTENT
      .content

        // Path
        .page-header
          a(href='index.html') Home
          |  &rarr; 
          a(href='documentation.html') Documentation
          |  &rarr; 
          a(href='configuration_api.html') Configuration API
          |  &rarr; 
          | API Keys

        // Header
        h1 API Keys
        p
          | Create and manage your API keys with the RESTful API. Users may hold up to two API keys, a configuration key and a participation key.
          | Use the configuration API key for all methods associated with the 
          a(href='configuration_api.html') Configuration API
          | , including establishing swarms and their resources as well as managing invitations. Use the participation API key for all methods
          | associated with the 
          a(href='participation_api.html') Participation API
          | , including producing and consuming data within one or many swarms. 
        .page-header

        // Create
        h3#create Create

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/keys
                li
                  strong Method: 
                  | POST
                li
                  strong Authentication: 
                  code "username:password"
                li
                  strong Parameters (Required): 
                  | None
                li
                  strong Parameters (Optional): 
                  | Key type
          .span8.columns
            p
              | Each user must possess at least a configuration API key. In addition to the configuration key, 
              | a participation key can be generated for use with producing and consuming data on the platform. 
              | This method is used to create API keys. If a key already exists,
              | this method will replace that key with a new one. To create a specific key, users must specify
              | the key type in the URL. For instance,
              code http://api.bugswarm.net/keys/participation
              |  will generate the participation key, while
              code http://api.bugswarm.net/keys
              |  will generate both keys by default. 

        // usage
        strong Usage: 
        pre.prettyprint.language-javascript.
          curl -X POST --user "username:password" http://api.bugswarm.net/keys
          curl -X POST --user "username:password" http://api.bugswarm.net/keys/configuration
          curl -X POST --user "username:password" http://api.bugswarm.net/keys/participation

        // returns
        strong Returns: 
        |  The created key(s) in JSON format. Note that if a type is specified, a JSON object is returned rather than an array.
        pre.prettyprint.language-javascript.
          [
            {
              "created_at": "2011-10-21T15:37:35.636Z", 
              "key": "b8c2382d0fd9123f3d0ccc760afa03854c652fdb", 
              "status": "active", 
              "type": "configuration", 
              "user_id": "username"
            }, 
            {
              "created_at": "2011-10-21T15:37:35.744Z", 
              "key": "c0eb23bb29bcf123d74d79801bdc5b06f1e97bdd", 
              "status": "active", 
              "type": "participation", 
              "user_id": "username"
            }
          ]

        .page-header

        // List
        h3#list List

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/keys
                li
                  strong Method: 
                  | GET
                li
                  strong Authentication: 
                  code "username:password"
                li
                  strong Parameters (Required): 
                  | None
                li
                  strong Parameters (Optional): 
                  | Key type
          .span8.columns
            p
              | A user's API key must be passed as a header when using the
              | methods in the BUGswarm API as a form of account authorization. This method will list the API keys
              | associated with the user's account. Users may specify which key they would like to retrieve through
              | the URL. For instance,
              code http://api.bugswarm.net/keys/configuration
              |  will retrieve the configuration key, while
              code http://api.bugswarm.net/keys/participation
              |  will retrieve the participation key. If no key type is specified in the URL, all keys will be listed.

        // usage
        strong Usage: 
        pre.prettyprint.language-javascript.
          \ncurl -X GET --user "username:password" http://api.bugswarm.net/keys
          curl -X GET --user "username:password" http://api.bugswarm.net/keys/configuration
          curl -X GET --user "username:password" http://api.bugswarm.net/keys/participation

        // returns
        strong Returns: 
        | The desired key(s) and their relative information in JSON format. Note that if a type is specified, a JSON object is returned rather than an array.
        br
        pre.prettyprint.language-javascript.
          \n[
              {
                  "key": "c7cf33294f91c29abc778c8f6382eaaed8405372",
                  "user_id": "username",
                  "created_at": "2011-09-09T23:45:22.109Z",
                  "status": "active",
                  "type": "configuration"
              },
              {
                  "key": "33d1e9e8fe9802e34c99b6c465552a0bc2ca0714",
                  "user_id": "username",
                  "created_at": "2011-09-09T23:45:22.221Z",               
                  "status": "active",
                  "type": "participation"
              }
          ]

        .page-header

