!!! 5
html(lang='en')
  head
    include includes/assets
  body

    // NAVIGATION
    include includes/navigation

    // CONTAINER
    .container-fluid

      // SIDEBAR
      .sidebar

        strong Jump to:
        ul.unstyled
          li: h5: a(href='#add') Add
          li: h5: a(href='#remove') Remove
          li: h5: a(href='#list') List

      // CONTENT
      .content

        // Path
        .page-header
          a(href='index.html') Home
          |  &rarr;
          a(href='api_documentation.html') API Documentation
          |  &rarr;
          a(href='configuration_api.html') Configuration

        // Header
        h1 Swarm Resources
        p
          | Configure the resources in your swarms with the RESTful API.
        .page-header

        // Add
        h3#add Add

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID
                li
                  strong Method: 
                  | POST
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  br
                  code "content-type: application/json"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | None
          .span8.columns
            p
              | Each swarm is owned by a given user and can be configured to contain resources.
              | Swarms can contain the resources of many members. This method adds a resource 
              | to a given swarm. The method passes a JSON file containing the swarm-relevant 
              | information regarding the resource to add. The "type" field passed in the JSON 
              | refers to whether the resource will act as a producer or a consumer.

        // body 
        strong Body: 
        | A JSON file containing the information of the resource to add that is relevant to
        | the context of a swarm.
        pre.prettyprint.language-javascript.
          {
              "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
              "resource_type": "consumer"
          }

        // usage
        strong Usage: 
        | Create a JSON file with the name
        code add_resource.json
        |  and matching the above format. Then execute: 
        pre.prettyprint.language-javascript.
          curl -X POST -d@add_resource.json --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" --header "content-type: application/json" http://api.bugswarm.net/swarms/SWARM_ID

        // returns
        strong Returns: 
        a(href='http_response_codes.html') HTTP Response Codes
        br
        br
        .page-header

        // Remove
        h3#remove Remove

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID/resources
                li
                  strong Method: 
                  | DELETE
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}",
                  br
                  code "content-type: application/json"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | None
          .span8.columns
            p
              | Each swarm is owned by a given user and can be configured to contain resources.
              | Swarms can contain the resources of many members. This method removes a resource 
              | from a given swarm. The method passes a JSON file containing the information regarding the
              | resource to remove. Removing a resource from a swarm does not remove it from the
              | user account. To perform this action, use the
              a(href='restful_user_resources.html#destroy') Destroy
              |  method for user resources.

        // body
        strong Body: 
        | A JSON file containing the information of the resource to remove from the swarm.
        pre.prettyprint.language-javascript.
          {
              "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
              "resource_type": "consumer"
          }

        // usage
        strong Usage: 
        | Create a JSON file with the name
        code remove_resource.json
        |  and matching the above format. Then execute: 
        pre.prettyprint.language-javascript.
          curl -X DELETE -d@remove_resource.json --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" --header "content-type: application/json" http://api.bugswarm.net/swarms/SWARM_ID/resources

        // returns
        strong Returns: 
        a(href='http_response_codes.html') HTTP Response Codes
        br
        br
        .page-header

        // List
        h3#list List

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID/resources
                li
                  strong Method: 
                  | GET
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | Resource type
          .span8.columns
            p
              | Users may list the resources that are members of a given swarm. The list will
              | print each resource and its swarm-relevant information in JSON format.

        // usage
        strong Usage: 
        pre.prettyprint.language-javascript.
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms/SWARM_ID/resources
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms/SWARM_ID/resources?type=producer
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms/SWARM_ID/resources?type=consumer

        // returns 
        strong Returns: 
        | A list of resources in JSON format and their swarm-relevant information.
        pre.prettyprint.language-javascript.
          [
              {
                  "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                  "resource_type": "producer",
                  "swarm_id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                  "user_id": "username",
                  "url": "http://api.dev.bugswarm.net/resources/33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                  "member_since": "2011-10-10T01:01:55.184Z"
              },
              {
                  "resource_id": "4735f4417f4fd2eb67ace9f2d2e7948e2d9f43f9",
                  "resource_type": "consumer",
                  "swarm_id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                  "user_id": "username",
                  "url": "http://api.dev.bugswarm.net/resources/4735f4417f4fd2eb67ace9f2d2e7948e2d9f43f9",
                  "member_since": "2011-10-10T02:13:08.537Z"
              }
          ]

        .page-header
