!!! 5
html(lang='en')
  head
    include includes/assets
  body
    include includes/navigation
    // CONTAINER 
    .container-fluid
      // SIDEBAR 
      .sidebar
        ul
          li
            h5
              a(href='#create') Create
          li
            h5
              a(href='#list') List
      // end of sidebar div 
      // CONTENT 
      .content
        .page-header
          a(href='index.html') Home
          | &rarr;
          a(href='documentation.html') Documentation
          | &rarr;
          a(href='rest_api.html') REST API
        h1 API Keys
        p
          | Manage your API keys with the REST API.
        .page-header
        // Create 
        h3#create Create
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL:
                code http://api.bugswarm.net/keys
                li
                  strong Method:
                  | POST
                li
                  strong Authentication:
                  code "username:password"
                  li
                    strong Parameters (Required):
                    | None
                  li
                    strong Parameters (Optional):
                    | Key type
          .span8.columns
            p
              | Each user must possess at least a master API key. In addition to the master key,
              | producer
              | and consumer keys can be generated. This method is used to create API keys. If a
              | key already exists,
              | this method will replace that key with a new one. Users have the option of
              | specifying the type of key they wish to create
              | in the URL. For instance,
              code http://api.bugswarm.net/keys/master
              | will generate a master key, while
              code http://api.bugswarm.net/keys/producer
              | will generate a producer key.  By default, if no key type is
              | specified, a master key is created. Each key holds a different set of permissions
              | with regards to participating in swarms.
        strong Usage:
        pre.prettyprint.language-javascript.
          \ncurl -X POST --user "username:password" http://api.bugswarm.net/keys
          curl -X POST --user "username:password" http://api.bugswarm.net/keys/master
          curl -X POST --user "username:password" http://api.bugswarm.net/keys/producer
          curl -X POST --user "username:password" http://api.bugswarm.net/keys/consumer
                    
        strong Returns:
        | The created key in JSON format.
        pre.prettyprint.language-javascript.
          \n{
            "apikey": "911cbc244827dba9c6dbdd09aff3e5e8fe5eee02",
              "type": "master"
          }
                    
        .page-header
        // List 
        h3#list List
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL:
                code http://api.bugswarm.net/keys
                li
                  strong Method:
                  | GET
                li
                  strong Authentication:
                  code "username:password"
                  li
                    strong Parameters (Required):
                    | None
                  li
                    strong Parameters (Optional):
                    | Key type
          .span8.columns
            p
              | A user's API key (generally the master key) must be passed as a header when using
              | the rest of the
              | methods in this API as a form of account authorization. This method will list the
              | API keys
              | associated with the user's account. Users may specify which key the would like to
              | retrieve through
              | the URL. For instance,
              code http://api.bugswarm.net/keys/master
              | will retrieve the master key,
              | while
              code http://api.bugswarm.net/keys/producer
              | will retrieve the producer key, if one exists.
        strong Usage:
        pre.prettyprint.language-javascript.
          \ncurl -X GET --user "username:password" http://api.bugswarm.net/keys
          curl -X GET --user "username:password" http://api.bugswarm.net/keys/master
          curl -X GET --user "username:password" http://api.bugswarm.net/keys/producer
          curl -X GET --user "username:password" http://api.bugswarm.net/keys/consumer
                    
        strong Returns:
        | The desired key(s) and their relative information in JSON format.
        br
        pre.prettyprint.language-javascript.
          \n[
              {
                  "_id": "4e6aa512a88f3afe13007a2e",
                  "created_at": "2011-09-09T23:45:22.109Z",
                  "key": "c7cf33294f91c29abc778c8f6382eaaed8405372",
                  "status": "active",
                  "type": "producer",
                  "user_id": "username"
              },
              {
                  "_id": "4e6aa512a88f3afe13007a2f",
                  "created_at": "2011-09-09T23:45:22.221Z",
                  "key": "33d1e9e8fe9802e34c99b6c465552a0bc2ca0714",
                  "status": "active",
                  "type": "consumer",
                  "user_id": "username"
              },
              {
                  "_id": "4e70ffba6e28bb5e1f037196",
                  "created_at": "2011-09-14T19:25:46.291Z",
                  "key": "911cbc244827dba9c6dbdd09aff3e5e8fe5eee02",
                  "status": "active",
                  "type": "master",
                  "user_id": "username"
              }
          ]
                    
      // end of content div 
    // end of container-fluid div 
