!!! 5
html(lang='en')
  head
    include includes/assets
  body
    include includes/navigation
    .container-fluid
      .sidebar
        ul
          li: h5: a(href='#api-keys') API Keys
          li: h5: a(href='#user-resources') User Resources
          li: h5: a(href='#swarms') Swarms
          li: h5: a(href='#swarm-resources') Swarm Resources
      .content
        .page-header
          a(href='index.html') Home
          |  &rarr;
          a(href='documentation.html') Documentation
        h1 REST API
        p
          | Configure swarms and their resources through the use of HTTP requests.
        h3: a#api-keys(href='rest_api_keys.html') API Keys
        p
          | API keys are used as credentials when interacting with BUGswarm.
        .row
          .span6.columns
            h5 Method
          .span6.columns
            h5 Description
        .page-header
        .row
          .span6.columns
            a(href='rest_api_keys.html#create') Create (POST)
          .span10.columns
            p
              | Create an API key. Users can hold up to 3 API keys, a master key, producer key,
              | and consumer key.
              | Each key holds a different set of permissions.
        .page-header
        .row
          .span6.columns
            a(href='rest_api_keys.html#list') List (GET)
          .span10.columns
            p
              | List your API keys. Keys are listed as JSON.
        .page-header
        h3: a#user-resources(href='rest_user_resources.html') User Resources
        p
          | Resources belong to a given User account and may be created, updated, and
          | destroyed.
        .row
          .span6.columns
            h5 Method
          .span6.columns
            h5 Description
        .page-header
        .row
          .span6.columns
            a(href='rest_user_resources.html#create') Create (POST)
          .span10.columns
            p
              | Create a resource. POST a JSON file containing information about the resource to
              | be
              | created.
        .page-header
        .row
          .span6.columns
            a(href='rest_user_resources.html#update') Update (PUT)
          .span10.columns
            p
              | Update an already existing resource. PUT a JSON file containing the information
              | to update.
        .page-header
        .row
          .span6.columns
            a(href='rest_user_resources.htmll#destroy') Destroy (DELETE)
          .span10.columns
            p
              | Destroy a resource. Remove a resource from your user account.
        .page-header
        .row
          .span6.columns
            a(href='rest_user_resources.html#list') List (GET)
          .span10.columns
            p
              | List all of the resources in your user account.  Resources listed as JSON.
        .page-header
        .row
          .span6.columns
            a(href='rest_user_resources.html#get-resource-info') Get Resource Info (GET)
          .span10.columns
            p
              | Get the information of a specific resource. Information presented as JSON.
        .page-header
        .row
          .span6.columns
            a(href='rest_user_resources.html#list-swarms-with-resource') List Swarms With Resource (GET)
          .span10.columns
            p
              | List the swarms that a specific resource belongs to. Swarms listed as JSON.
        .page-header
        h3: a#swarms(href='rest_swarms.html') Swarms
        p
          | Swarms are owned by a user but may contain the resources of many users.
        .row
          .span6.columns
            h5 Method
          .span6.columns
            h5 Description
        .page-header
        .row
          .span6.columns
            a(href='rest_swarms.html#create') Create (POST)
          .span10.columns
            p
              | Create a swarm. POST a JSON file containing information about the swarm to be
              | created.
        .page-header
        .row
          .span6.columns
            a(href='rest_swarms.html#update') Update (PUT)
          .span10.columns
            p
              | Update an already existing swarm. PUT a JSON file containing the information to
              | update.
        .page-header
        .row
          .span6.columns
            a(href='rest_swarms.html#destroy') Destroy (DELETE)
          .span10.columns
            p
              | Destroy a swarm. Remove a swarm from your user account.
        .page-header
        .row
          .span6.columns
            a(href='rest_swarms.html#list') List (GET)
          .span10.columns
            p
              | List all of the swarms in your user account. Swarms listed as JSON.
        .page-header
        .row
          .span6.columns
            a(href='rest_swarms.html#get-swarm-info') Get Swarm Info (GET)
          .span10.columns
            p
              | Get the information of a specific swarm, including it's contained resources.
              | Information presented as JSON.
        .page-header
        h3: a#swarm-resources(href='rest_swarm_resources.html') Swarm Resources
        p
          | Resources can be added and removed from a swarm. Additionally, all of the
          | resources in a swarm may be listed.
        .row
          .span6.columns
            h5 Method
          .span6.columns
            h5 Description
        .page-header
        .row
          .span6.columns
            a(href='rest_swarm_resources.html#add') Add (POST)
          .span10.columns
            p
              | Add a resource to a swarm. POST a JSON file containing information about the
              | resource to
              | be added that pertains to being a member of a swarm.
        .page-header
        .row
          .span6.columns
            a(href='rest_swarm_resources.html#remove') Remove (DELETE)
          .span10.columns
            p
              | Remove a resource from a swarm. Send a JSON file containing information about the
              | resource
              | to remove.
        .page-header
        .row
          .span6.columns
            a(href='rest_swarm_resources.html#list') List (GET)
          .span10.columns
            p
              | List the resources in a swarm. Users may choose to list all resources, only
              | consumers, or only producers.
        .page-header
