!!! 5
html(lang='en')
  head
    include includes/assets
  body
    include includes/navigation
    .container-fluid
      .sidebar
      .content
        .page-header
          a(href='index.html') Home
          |  &rarr;
          a(href='documentation.html') Documentation
        h1 Streaming API
        p
          | Documentation coming soon.
