!!! 5
html(lang='en')
  head
    include includes/assets
    link(rel='stylesheet', href='css/swarmgame.css')
    script(src='http://cdn.buglabs.net/swarm/swarm-v0.3.0.js')
    script(src='js/jquery.gamequery-0.5.1.js')
    script(src='js/swarmgame.js')

  body
    include includes/navigation

    ul#buttons
      li#dpad-up
        | Up
        .button
      li#dpad-down
        | Down
        .button
      li#dpad-left
        | Left
        .button        
      li#dpad-right
        | Right
        .button        
      li#button-1
        | 1
        .button        
      li#button-2
        | 2
        .button        
      li#button-3
        | 3
        .button        
      li#button-4
        | 4
        .button        
      li#button-5
        | 5
        .button        
      li#button-6
        | 6
        .button        
      li#button-7
        | 7
        .button        
      li#button-8
        | 8
        .button        
      li#button-9
        | 9
        .button        
      li#button-10
        | 10
        .button
