!!! 5
html(lang='en')
  head
    include includes/assets

  body(onload="loadValues()")

    // NAVIGATION
    include includes/navigation

    // CONTENT
    .container

      // Path
      .page-header
        a(href='index.html') Home

      // Header
      h1 Tools
      p
        | Here you will find a set of tools to help you develop on the BUGswarm platform. These tools are
        | designed to make the process straightforward and developer-friendly.

      // BUGswarm Tools
      .page-header
        h2 BUGswarm Tools
      p
        | In order to abstract some of the tedious work associated with using our 
        a(href='configuration_api.html') Configuration API 
        | to establish swarms and resources, we have developed a set of option-parsed terminal commands to make 
        | the BUGswarm development workflow even easier. Built in Python, 
        a(href='https://github.com/buglabs/bugswarm-tools') BUGswarm Tools 
        | removes any need for curl and nicely formats the JSON returned by some of the methods in the API.

      h4
        a(href='https://github.com/buglabs/bugswarm-tools') BUGswarm Tools on GitHub

      // BUGswarm Console
      .page-header
        h2 BUGswarm Console
      p
        | The BUGswarm Console consists of embedded tools designed to make the use of our API as simple as possible.
        | Spend less time looking up API documentation, and more time creating the next best application on BUGswarm.

      // real-time messaging 
      h3
        Real-Time Messaging
      p
        | BUGswarm is one of the few cloud messaging platforms that allows for real-time communication between devices.
        | Use this embedded tool to observe these real-time messages.

      form#swarmfields(name='swarmfields')
        fieldset
          .clearfix
            label(for="apikey") 
              strong Consumer API Key
            .input
              input.xxlarge#apikey(name="apikey", size="14", type="text")

          .clearfix
            label(for="swarmID") 
              strong Swarm ID
            .input
              input.xxlarge#swarmID(name="swarmID", size="14", type="text")

          .clearfix
            label(for="muc")
              strong Global Messages
            .input
              textarea.xxlarge#muc(name="muc", rows="20", readonly="readonly")

          .actions
            input.btn.danger(type="button", value="Join Swarm", onclick="javascript: joinSwarm()") 
            | 
            button.btn(type="reset") Cancel

      script(language="javascript", type="text/javascript", src="js/messaging.js")
